# Auto-detect text files
* text=auto

# Documentation
*.md diff=markdown
*.md text eol=lf

# Source
*.py text eol=lf diff=python
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

# HTML
*.html text eol=lf
*.css text eol=lf

# Badges / images — binary
*.png binary
*.svg text eol=lf

# Config
.gitattributes text eol=lf
.gitignore text eol=lf

# Linguist overrides
docs/images/* linguist-detectable=false
